{% include 'bundesliga_app/partials/header.html' %}
    {% if matches_data %}
        <table>
            <tr>
                <th>Date</th>
                <th>Team A</th>
                <th>Result</th>
                <th>Team B</th>
            </tr>
        {% for match in matches_data %}
            <tr>
                <td><a>{{ match.date }}</a></td>
                <td><a>{{ match.team_one }}</a></td>
                {% if match.points_one != None %}
                    <td><a>{{ match.points_one }} : {{ match.points_two }}</a></td>
                {% else %}
                    <td><a>Not finished</a></td>
                {% endif %}
                <td><a>{{ match.team_two }}</a></td>
            </tr>

        {% endfor %}
        </table>
    {% else %}
        <p>No matches are available.</p>
    {% endif %}
{% include 'bundesliga_app/partials/footer.html' %}