{% include 'bundesliga_app/partials/header.html' %}
    {% if win_loss_ratio_data %}
        <h2>{{ league }}</h2>
        <table>
            <tr>
                <th>Team</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Ratio</th>
            </tr>
        {% for team in win_loss_ratio_data %}
            <tr>
                <td>{{ team.team_name }}</td>
                <td>{{ team.wins }}</td>
                <td>{{ team.losses }}</td>
                <td>{{ team.ratio }}</td>
            </tr>

        {% endfor %}
        </table>
    {% else %}
        <p>No matches are available.</p>
    {% endif %}
{% include 'bundesliga_app/partials/footer.html' %}